<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="zh-cmn-Hans">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/aui.2.0.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/public.css"/>
    <link href="/stylesheets/stylea.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<!--头部-->


<div class="content">
    <div class="content-tilte">

    </div>
    <div class="lins"></div>
    <div class="form-box">
        <form method="post" name="" action="loginSuccess">
            <div class="input-form">
                <span><img src="/images/icon-cellphone.png"></span>
                <input class="inputstyle" type="text" name = 'username'
                      placeholder="请输入手机号">
            </div>
            <div class="lins"></div>
            <div class="input-form">
                <span><img src="/images/icon－password.png"></span>
                <input class="inputstyle" type="password" name = 'password'
                      placeholder="请输入密码">
            </div>
            <div class="lins"></div>
            <div class="checkbox">
                <a class="aui-pull-right" href="update">忘记密码？</a>
            </div>
            <div class="lins"></div>
            <div class="sub">
                <input type="submit" name="submit" id="" value="登录">
            </div>


        </form>
    </div>
</div>
 </body>
</html>
